.card-button {
    display: inline-block;
    background-color: #FF4457;
    padding: 0.5rem 1.5rem;
    border-radius: .5rem;
    color: #000000;
    margin-top: 5px;
}

.card-button:hover{
    color: #FFFFFF;
}

#frenzy{
margin-top: 1.45rem;
}

#bulldog{
 margin-bottom: 1.5rem;
}

#jugde{
    margin-top: 2rem;
    align-content: center;
    padding-left: 1rem ;
}

#guardian{
    margin-top: 1.95rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 15rem;
    height: auto;
}

#marshal{
    margin-top: 1.55rem;
}

#ares{
    margin-top: 1.55rem;
}

#odin{
    margin-top: 1.5rem;
}

#outlaw{
    margin-top: 4rem;
}